        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'employeTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'employeTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'employeCnss' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeCnss' | translate}}" id="1" [(ngModel)]="item.cnss"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEmployeCnss}"  />
                                            <small class='p-error' *ngIf='!validEmployeCnss'>Cnss est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'employeNom' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeNom' | translate}}" id="2" [(ngModel)]="item.nom"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'employePrenom' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employePrenom' | translate}}" id="3" [(ngModel)]="item.prenom"
                                                     />
                                            
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
